body 
{
	font-family: Monospace;
	font-weight: bold;
	margin: 0px;
	overflow: hidden;

}

#canvas{
	
	background-color: black;
	
}

#controles{
	
	position: absolute;
	font-size: 17px;
	margin-left: 5px;
	color: white;
	
}